* { 
    font-family: roboto;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


canvas {
    background-image: url("../assets/city-bg.jpg");    
}

.dict-options > * {
    background-color: green;
    color: wheat;
    
}

input[type="text"] {
    background-color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 22px;
    text-align: center;
    width: 500px;
}

.player-info, .player-info>span {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    width: 100px
}

.word {
    color: red;
}

