* { 
    font-family: roboto;
    padding: 0;
    margin: 0;
}

body {
    /* display: flex; */
    height: 100vh;
    /* justify-content: center;
    align-items: center;
    flex-direction: column-reverse; */
    background-image: url("../assets/main_bg.jpg"); 
    background-size: cover; 
}

p {
    padding: 30px;
    color: white;
}

canvas {
    background-image: url("../assets/city-bg.jpg");   
    margin-top: 50px; 
}

input[type="text"] {
    background-color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 22px;
    text-align: center;
    width: 500px;
    position: relative;
    bottom: 100px;
    left: 350px;
}

#main-input {
    bottom: 100px;
    left: 350px;
}

#pause-input {
    bottom: 200px;
    left:350px;
}

.player-info, .player-info>span {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    width: 100px
}

.word {
    color: red;
}

input[type="radio"] {
    margin: 10px;
}

.dict-choices {
    font-size: 24px;
    position: relative;
    left: 780px;
    bottom: 450px;
}

.dict-choices span {
    padding-left: 20px;
}

.special-char-btn {
    background-color: white;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    margin-left: 20px;
    position: relative;
    bottom: 220px;
    left: 350px;
}
  
#custom-set-btn {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 22px;
    position: relative;
    left: 925px;
    bottom:350px
}

#custom-set-text-field {
    height: 400px;
    padding: 20px;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    bottom: 740px;
    left: 600px;
    width: 500px
}

#custom-set-submit {
    padding: 10px;
    color: white;
    background-color: rgba(62, 18, 133);
    border-radius: 10px;
    position: relative;
    bottom: 700px;
    left: 80px;
    width: 500px;
}

#cancel-Btn {
    padding: 10px;
    color: white;
    background-color: rgb(95, 19, 19);
    border-radius: 10px;
    position: relative;
    bottom: 600px;
    left: -200px;
}

.canvas-container {
    height: 100vh;
    width: 100vw;
    padding: 20px 100px 50px 100px;
    
    /* padding: 100px 300px; */
}