* { 
    background-color: blue;
    font-family: roboto;
}

body {
    display: flex;
    justify-content: center;
}


canvas {
    background-image: url("assets/city-bg.jpg");    
}

input {
    background-color: white;
    padding: 10px 30px;
    border-radius: 20px;
    width: 50%;
    font-size: 32px;
    text-align: center;
}

.player-info, .player-info>span {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    width: 100px
}

.word {
    color: red;
}